doctype html
html
    head
        include ./modules/hack.html
        meta(charset='utf-8')
        meta(name='renderer' content='webkit')
        meta(http-equiv='X-UA-Compatible' content='IE=edge, chrome=1')
        link(href='../css/index.css' rel='stylesheet')
        link(href='../img/favicon.png' rel='shortcut icon' type='image/x-icon')
        title 百育教育
    body
        // 轮播
        section
            div.banner
                div.banner-box
                    div.banner-image.clearfix#banner-image
            ul.banner-choice#banner-choice
        // 导航栏
        section.nav
            nav.nav-box.clearfix
                dl.nav-group
                    dt.nav-title
                        a(href='#') 首页
                dl.nav-group
                    dt.nav-title 关于我们
                    dd.nav-hrefs
                        div.nav-a.clearfix
                            a(href='#') 企业简介
                            a(href='#') 企业管理
                            a(href='#') 企业文化
                dl.nav-group
                    dt.nav-title 新闻中心
                    dd.nav-hrefs
                        div.nav-a.clearfix
                            a(href='#') 行业动态
                            a(href='#') 企业新闻
                dl.nav-group
                    dt.nav-title 产品中心
                    dd.nav-hrefs
                        div.nav-a.clearfix
                            a(href='#') 专业建设
                            a(href='#') 实训设备
                            a(href='#') 信息化教学
                            a(href='#') 校企合作
                            a(href='#') 大学生创新创业
                dl.nav-group
                    dt.nav-title
                        a(href='#') 典型案例
                dl.nav-group
                    dt.nav-title
                        a(href='#') 招贤纳士
                dl.nav-group
                    dt.nav-title 联系我们
                    dd.nav-hrefs
                        div.nav-a.clearfix
                            a(href='#') 地址地图
                            a(href='#') 营销网络
        // 布局
        div.layout
            // 关于我们
            section.layout-title.title-guanyuwomen.clearfix
                h2 关于我们
                div.layout-title-text
                    a(href='#') 企业简介
                    span /
                    a(href='#') 企业管理
                    span /
                    a(href='#') 企业文化
                a.layout-title-more(href='#' title='查看更多')
            section.group-guanyuwomen.clearfix
                a.float-l.group-guanyuwomen-img(href='#')
                    img(src='../img/_/1.jpg')
                    p - 大学创新创业中心 -
                article.float-l.group-guanyuwomen-article
                    p
                        span.byjy 百育教育
                        |是从事应用型学科建设、实训中心规划建设、智慧校园设计建设、大学生创新创业中心规划建设、校企融合合作的技术型教育机构。
                    p 针对中高职院校理实一体教学、高校应用型本科转型、物联网大数据集成、智慧校园信息化建设、大众创业万众创新等新型专项教学任务，百育教育创新开发出各类新型教学设备与仪器、实验实训设备、模拟仿真软件，量身定制各类校本课程、师资培训方案、教学软件。
                    p 百育教育与德国、澳大利亚、美国等专业教育机构合作，结合国外先进教学理念，建立符合中国新时期教育创新改革需求的、百育教育特色的新模式教育体系，广泛应用于国内各类院校。
                    p 百育教育——服务中国两个一百年教育变革。
            // 产品与解决方案
            section.layout-title.title-chanpinyujiejuefangan.clearfix
                h2 产品与解决方案
                a.layout-title-more(href='#' title='查看更多')
            ul.group-chanpinyujiejuefangan.clearfix
                li.group-chanpinyujiejuefangan-r.group-chanpinyujiejuefangan-b
                    i.syin.syin-f1
                    h4 专业建设
                    p 实训中心建设方案面向机械工程相关专业，包含机械工程实训室建设、专业软资源建设、相关实训教材开发三部分。
                li.group-chanpinyujiejuefangan-b
                    i.syin.syin-f2
                    h4 实训设备
                    p 汽车检测与维修 化工工程与工艺 楼宇智能化工程技术 机械工程技术 工业机器人等 例：化工工程与工艺。
                li.group-chanpinyujiejuefangan-r
                    i.syin.syin-f3
                    h4 信息化教学
                    p 液晶触摸多媒体教学一体机 交互式多媒体教学一体机 智能录播系统如上单元的制作即可。
                li
                    i.syin.syin-f4
                    h4 校企合作
                    p 校企合作是各高校谋求自身发展、实现与市场接轨、大力提高育人质量、有针对性地为企业培养一线实用型技术人才的重要举措。
            // 典型案例
            section.layout-title.title-dianxinganli.clearfix
                h2 典型案例
                a.layout-title-more(href='#' title='查看更多')
            section.group-dianxinganli
                input.group-dianxinganli-btnl#dianxinganli-btn-left(type='button')
                input.group-dianxinganli-btnr#dianxinganli-btn-right(type='button')
                div.group-dianxinganli-box#dianxinganli-box
            // 招贤纳士和联系我们
            div.clearfix
                // 招贤纳士
                div.float-l.group-zhaoxiannashi
                    section.layout-title.margin-b.clearfix
                        h2 招贤纳士
                        a.layout-title-more(href='#' title='查看更多')
                    section.group-zhaoxiannashi-box
                        p 公司是船，人才是帆，欢迎广大业内精英加入我公司，与我们携手共创辉煌！以下是我司最新招聘需求职位，如无合适职位，您亦可将简历发至如下邮箱：info@baiyu-edu.com，应聘百育教育科技有限公司职位请发送邮件至：info@baiyu-edu.com，进入百育人才库，一旦有合适职位，我们会尽快和您取得联系。
                        img(src='../img/_/2.jpg')
                // 联系我们
                div.float-r.group-lianxiwomen
                    section.layout-title.margin-b.clearfix
                        h2 联系我们
                        a.layout-title-more(href='#' title='查看更多')
                    section.group-lianxiwomen-box
                        address.group-lianxiwomen-address
                            p
                                i.syin2.syin-c1
                                span 咨询电话：024-86518307
                            p
                                i.syin2.syin-c2
                                span 邮政编码：110034
                            p
                                i.syin2.syin-c3
                                span 公司邮箱：info@baiyu-edu.com
                            p
                                i.syin2.syin-c4
                                span 公司网址：www.baiyu-edu.com
                            p
                                i.syin2.syin-c5
                                span 公司地址：沈阳市于洪区白山路16号广信大厦3楼
                        div.baidumaps#baidumaps
        // footer
        footer.footer
            div.footer-box
                table.nav-maps
                    tr
                        td
                            a(href='#') 首页
                        td
                            a(href='#') 关于我们
                        td
                            a(href='#') 新闻中心
                        td
                            a(href='#') 产品与解决方案
                        td
                            a(href='#') 典型案例
                        td
                            a(href='#') 招贤纳士
                        td
                            a(href='#') 联系我们
                    tr
                        td
                        td
                            a(href='#') 企业简介
                        td
                            a(href='#') 行业动态
                        td
                            a(href='#') 专业建设
                        td
                            a(href='#') 典型案例
                        td
                            a(href='#') 招聘信息
                        td
                    tr
                        td
                        td
                            a(href='#') 企业管理
                        td
                            a(href='#') 企业新闻
                        td
                            a(href='#') 实训设备
                        td(colspan='3')
                    tr
                        td
                        td
                            a(href='#') 企业文化
                        td
                        td
                            a(href='#') 信息化教学
                        td(colspan='3')
                i.sanjiao
                p.footer-copy 版权所有：辽宁百育教育科技有限公司
        script.
            window._config = {
                "banner": [
                    {"image": "../img/_/br0.jpg", "href": "#"},
                    {"image": "../img/_/br1.jpg", "href": "#"},
                    {"image": "../img/_/br2.jpg", "href": "#"},
                    {"image": "../img/_/br3.jpg", "href": "#"}
                ],
                "anli": [
                    {"image": "../img/_/c1.png", "href": "#", "text": "校企业合作模式"},
                    {"image": "../img/_/c2.png", "href": "#", "text": "实训教材开放"},
                    {"image": "../img/_/c3.png", "href": "#", "text": "化工可视综合仿真装置"},
                    {"image": "../img/_/c4.png", "href": "#", "text": "大工厂"}
                ]
            };
        // js
        script(src='../js/shim.js')
        script(src='../js/banner.js')
        script(src='../js/dianxinganli.js')
        script(src='http://api.map.baidu.com/api?v=2.0&ak=3DaVKoffyCbaa1o58bfFc8tw4EdfxPV7')
        script(src='../js/baidumaps.js')

